<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/loginStyle') %>
</head>
<body>

  <h1>Est치s en el login.</h1>

  <div class="contenedor">
        <h2>Iniciar Sesi칩n</h2>
        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Correo electr칩nico</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Contrase침a<a href=""></a></label>
        <input class="form-control" id="exampleFormControlTextarea1" rows="3"></input>
      </div>
      <button class="boton">Entrar</button>
  </div>

</body>
</html>