<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include( 'partials/registroStyle' ) -%>
</head>
<body>
    <h1>Estás en el registro.</h1>
    <%- include('partials/navbar') %>


    <div class="contenedor">
        <h2>Registrarse</h2>
    <form action="insertUser" method="post">
      <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
          <input name="nameUser" type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Contraseña<a href=""></a></label>
          <input name="password" class="form-control" id="exampleFormControlTextarea1" rows="3"></input>
        </div>
      <button class="boton">Entrar</button>
  </div>
  </form>
</body>
</html>