<div class="lista">
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/login">Login</a>
    </li>
    <li>
        <a href="/registro">Registro</a>
    </li>
</div>

<link rel="stylesheet" href="./css/homecss.css">